# for golang migrate
POSTGRESQL_URL: "'postgres://root:root_pw@localhost:5432/dev_database?sslmode=disable&x-multi-statement=true'"

# Postgres DB
DB_HOST: localhost
DB_PORT: 5432
DB_NAME: dev_database
DB_USER: "root"
DB_PASSWORD: "root_pw"
DB_MAX_IDLE_CONNECTIONS: 2
DB_MAX_POOL_SIZE: 5
DB_CONN_MAX_LIFE_TIME: 30
DB_CONN_MAX_IDLE_TIME: 30

# Redis

REDIS_ADDR: "localhost:6379"
REDIS_DB: 0
REDIS_PASSWORD: ""


# CONFIG
ENV: development
APP_NAME: disbursement_service
APP_PORT: 8090

# GRPC
GRPC_ADDR: ":9900"
GRPC_STREAM_CHUNK_SIZE: 1500
GRPC_CLIENT_CONN_TIMEOUT: 5 # seconds

# KAFKA
KAFKA_BROKER_URLS: "localhost:9094"
KAFKA_CLIENT_ID: "disbursement_service"
KAFKA_DIAL_TIMEOUT: 10
KAFKA_WRITE_TIMEOUT: 10

# Helper
METRICS_PORT: 10001

# JWT
JWT_SECRET: ""
JWT_REFRESH_SECRET: ""
INTERNAL_USER_JWT_SECRET: ""
SNAP_MERCHANT_JWT_SECRET: ""

# AWS
AWS_REGION: ""
AWS_ACCESS_KEY_ID: ""
AWS_SECRET_ACCESS_KEY: ""

AWS_REGION_JKT: ""
AWS_JKT_ACCESS_KEY_ID: ""
AWS_JKT_SECRET_ACCESS_KEY: ""

# Secret
ENCRYPTION_SECRET: ""
OPS_API_KEY_SECRET: ""
VENDOR_API_SECRET_KEY: ""
LINKAJA_ENCRYPTION_KEY: ""
PAYMENT_SNAP_ENCRYPTION_KEY: ""
API_KEY_ENCRYPTION_SECRET: ""
SNAP_ENCRYPTION_KEY: ""
KEYCLOAK_CLIENT_SECRET: ""
KEYCLOAK_RSA_PUBLIC_KEY: ""
GRPC_AUTH_TOKEN: ""

# OTEL
OTEL_ENV: "development"
OTEL_SERVICE: "disbursement_service"

# Consul
CONSUL_HOST: "http://localhost:8500"
CONSUL_DISBURSEMENT_SERVICE_CONFIG_PATH: "go_skeleton_disbursement"
CONSUL_GLOBAL_CONFIG_PATH: "go_skeleton_global"
CONSUL_POLLING_INTERVAL_IN_SECONDS: 3600

IP2GEO_FILENAME: ""